.dbg-ctrl
{
    border: 1px dotted crimson;
    background-color: rgba(173,255,47,0.09);
}
.dbg-ctrl:before
{
    content:  attr(ng-controller) attr(data-ng-controller);
    position:relative;
    text-align: center;
    top: 8px;
    line-height: 16px;
    font-size: 16px;
    background-color: greenyellow;
    padding:2px 6px;
}
.dbg-include
{
    border: 1px dotted greenyellow;
    background-color: rgba(47,255,173,0.09);
}
.dbg-include:before
{
    content:  attr(ng-include) attr(data-ng-include);
    text-align: center;
    background-color: lightyellow;
    color:black;
    padding:2px 6px;
    opacity:0.6;
}
#nav1 .dbg-ctrl:before{
    content:none;
}
#nav1 .dbg-ctrl:after{
    content:  attr(ng-controller) attr(data-ng-controller);
    text-align: center;
    background-color: greenyellow;
    padding:2px 6px;
}
#nav1 .dbg-include:before{
    content:none;
}
#nav1 .dbg-include:after{
    content:  attr(ng-include) attr(data-ng-include);
    text-align: center;
    background-color: lightyellow;
    color: black;
    padding:2px 6px;
}
