<div class="navbar navbar-inverse" ng-controller="navCtrl">
  		<div class="navbar-inner">
    	<a class="brand" href="#">b-good</a>

 			<ul class="nav">
                <li><a href="" ng-click="switchDbg()">I can show you unimaginable things</a></li>
			</ul>
			<ul class="nav pull-right">
                <li><a href="http://www.pimsleur.com/learn-english-for-french-speakers" ng-click="fr=1" title="get a hike!"><canvas id="canvas1" width="18" height="12"></canvas></a></li>
			</ul>
  		</div>
	</div>
